# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/roynehjg/public_html/sonic_universe/client/sonic_planet/api"
PassengerBaseURI "/sonic_universe/client/sonic_planet/api"
PassengerNodejs "/home/roynehjg/nodevenv/public_html/sonic_universe/client/sonic_planet/api/10/bin/node"
PassengerAppType node
PassengerStartupFile server.mjs
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END